@page "/flower/edit/{FlowerId:int}"
@using MasterDetail.Shared;
@inject HttpClient http
@inject NavigationManager navigationManager


<h3>Update Flower</h3>
<FlowerForm flower="flower" OnValidSubmit="OnValidSubmit" bouquetTypes="bouquetTypes" SelectedFileChanged="HandleFileChanged"></FlowerForm>
<div class="d-flex mt-4">
    <a class="btn btn-link" href="Index">Back to list</a>
</div>


@code {

    [Parameter] public int FlowerId { get; set; }

    FlowerVM flower = new FlowerVM();
    List<BouquetType>? bouquetTypes = new List<BouquetType>();
    private IBrowserFile selectedFile;

    protected override async Task OnInitializedAsync()
    {
        selectedFile = null!;
        bouquetTypes = await http.GetFromJsonAsync<List<BouquetType>>("api/MasterDetails/GetTypes");

        flower = await http.GetFromJsonAsync<FlowerVM>($"api/MasterDetails/{FlowerId}");

        foreach (var entry in flower.StoreEntries)
        {
                flower.BouquetTypeList.Add(new BouquetType
            {
                BouquetTypeId = entry.BouquetTypeId
            });
        }

    }

    private async Task HandleFileChanged(IBrowserFile file)
    {
        selectedFile = file;
        Console.WriteLine(selectedFile.Name);
    }

    private async Task OnValidSubmit()
    {
        var formData = new MultipartFormDataContent();

        foreach (var prop in typeof(FlowerVM).GetProperties())
        {
            var value = prop.GetValue(flower);
            if (value != null)
            {
                if (prop.Name == "BouquetTypeList")
                {
                    for (int i = 0; i < flower.BouquetTypeList.Count(); i++)
                    {
                        formData.Add(new StringContent(flower.BouquetTypeList[i].BouquetTypeId.ToString()), "BouquetTypeList[" + i + "].BouquetTypeId");
                    }
                    continue;
                }
                formData.Add(new StringContent(value.ToString()), prop.Name);
            }
        }

        if (selectedFile is not null)
        {
            var fileContent = new StreamContent(selectedFile.OpenReadStream());
            formData.Add(fileContent, "PictureFile", selectedFile.Name);
        }

        var response = await http.PutAsync("api/MasterDetails", formData);

        var body = await response.Content.ReadAsStringAsync();

        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine($"the id of the user is: {body}");
            navigationManager.NavigateTo("Index");
        }
        else
        {
            Console.WriteLine(body);
        }

    }
}
